.overflow-x-auto.relative
  center
    h4.text-4xl.font-bold.leading-normal.mt-0.mb-2 Products
  = form_with url:"/product/add_cart" do |form|
    table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
      thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        tr
          th.py-3.px-6[scope="col"]
          th.py-3.px-6[scope="col"]
            |  Product Name
          th.py-3.px-6[scope="col"]
            |  Price
          th.py-3.px-6[scope="col"]
            |  Product Details
      tobody
        - @products = local_assigns[:products] unless @products
        - @products.each do |product|
          tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
            - if product.product_name
              td.py-4.px-6
                = form.check_box :"product_ids[#{product.id}]",class:'w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
              th.py-4.px-6.font-medium.text-gray-900.whitespace-nowrap.dark:text-white[scope="row"]
                = product.product_name
              td.py-4.px-6
                = "₹#{product.price}"
              td.py-4.px-6
                = product.description
    center
      br
      = form.submit "Add to cart", class:"btn-primary"
