.overflow-x-auto.relative
  = turbo_frame_tag 'cartframe' do
    - if @checkout.count >0
      center
        h4.text-4xl.font-bold.leading-normal.mt-0.mb-2  Products Checkout 
      = form_with url:"/product/make_payment" do |f|
        table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
          thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
            tr
              th.py-3.px-6[scope="col"]
                |  Product Name 
              th.py-3.px-6[scope="col"]
                |  Price 
              th.py-3.px-6[scope="col"]
                |  Quantity 
              th.py-3.px-6[scope="col"]
                |  Total Price 
          - price = 0
          - @checkout.each do |cart|
            tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
              td.py-4.px-6
                = cart.product.product_name
              td.py-4.px-6
                |  ₹
                = cart.product.price
              td.py-4.px-6
                = cart.quantity
              td.py-4.px-6
                |  ₹
                = cart.quantity * cart.product.price
            - price = price + (cart.product.price * cart.quantity)
        br
        center
          p
            span.px-6.py-3.bg-blue-200.rounded.font-bold.text-left.align-left
              = "Total Price : ₹#{price}"

          = f.hidden_field :cart_ids,:value => "#{@checkout.ids.join(',')}", readonly: true       
          br
          = f.submit "Make Payment",class:"btn-primary"
    - else
      center
        br
        h4.text-4xl.font-bold.leading-normal.mt-0.mb-2 No items selected for payment
