.overflow-x-auto.relative
  = turbo_frame_tag 'anyframe' do
    - if notice
      center
        .p-4.mb-4.text-sm.text-green-700.bg-green-50.rounded-lg.dark:bg-green-100.dark:text-green-800[role="alert"]
          span.font-medium
            = notice
    - if alert
      center
        .p-4.mb-4.text-sm.text-red-700.bg-red-50.rounded-lg.dark:bg-red-100.dark:text-red-800[role="alert"]
          span.font-medium    
            = alert
    = render 'product_list'
