.overflow-x-auto.relative
  = turbo_frame_tag 'cartframe' do
    center
      h4.text-4xl.font-bold.leading-normal.mt-0.mb-2 Order Payment 
      br
      .col-md-4.col-md-offset-4.bg-light
        - price = 0
        - @order_items.each do |cart|
          - price = price + (cart.product.price * cart.quantity)
        p
          span.px-6.py-3.bg-blue-200.rounded.font-bold.text-left.align-left
            = "Amount : ₹#{price}"
            span.text-sm
              ="  (Cash On Delivery by default)"
        /!h5
          i Note : Enabled cash on delivery option by default
        br
        = form_with url:"/product/place_order" do |f|
          = f.hidden_field :cart_ids,:value => "#{@order_items.ids.join(',')}", readonly: true
          = f.hidden_field :price,:value => "#{price}", readonly: true
          = f.submit "Place Order", class:"btn-primary"
