.overflow-x-auto.relative
  - if @my_orders.count > 0
    center
      h4.text-4xl.font-bold.leading-normal.mt-0.mb-2  My Orders 
    - @my_orders.each do |order|
      p
        span.py-2.px-2.bg-blue-200.rounded.font-bold
          | Order Id : 
          = order.id
      table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
        thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
          tr
            th.py-3.px-6[scope="col"]
              | #
            th.py-3.px-6[scope="col"]
              | Product Name
            th.py-3.px-6[scope="col"]
              | Quantity
            th.py-3.px-6[scope="col"]
              | Product Price
            th.py-3.px-6[scope="col"]
              | Total Price
        - no = 1
        - order.products.each do |product|
          tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
            td.py-4.px-6
              = no
            td.py-4.px-6
              = product.product_name
            td.py-4.px-6
              = product.order_items.where(order_detail_id:order.id).first.quantity
            td.py-4.px-6
              = "₹#{product.price}"
            td.py-4.px-6
              = "₹#{product.price*product.order_items.where(order_detail_id:order.id).first.quantity}"
          - no+=1
        tr
          td.py-4.px-6
          td.py-4.px-6
          td.py-4.px-6
          td.py-4.px-6
          td.py-4.px-6
            span.py-2.px-2.bg-blue-200.rounded.font-bold
              = "₹#{order.amount}"
      br
  - else
    br
    center
      h4.text-4xl.font-bold.leading-normal.mt-0.mb-2  No Orders
