.overflow-x-auto.relative
= turbo_frame_tag 'cartframe' do
  - if @cart_items.count > 0
    center
      h4.text-4xl.font-bold.leading-normal.mt-0.mb-2 Cart Items 
    = form_with url:"/product/items_checkout" do |form|
      table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
        thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
          tr
            th.py-3.px-6[scope="col"]
            th.py-3.px-6[scope="col"]
              |  Product Name 
            th.py-3.px-6[scope="col"]
              |  Project Detail 
            th.py-3.px-6[scope="col"]
              |  Price 
            th.py-3.px-6[scope="col"]
              |  Quantity
        tbody 
          - @cart_items.each do |cart|
            tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
              td.py-4.px-6
                = form.check_box :"cart_ids[#{cart.id}]",class:"w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
              td.py-4.px-6
                = cart.product.product_name
              td.py-4.px-6
                = cart.product.description
              td.py-4.px-6
                = cart.product.price
              td.py-4.px-6
                = form.number_field :"quantities[#{cart.id}]", placeholder:'Quantity', value:1,min:1,size:1,class:'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      center
        br
        = form.submit "Chekout",class:"btn-primary"
  - else
    br
    center
      h4.text-4xl.font-bold.leading-normal.mt-0.mb-2 No Cart Items
