center
  .w-full.max-w-xs
    h2.font-bold.text-4xl.text-blue-500
      | Log in
    = form_for(resource, html:{class:'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}, as: resource_name, url: '/users/login') do |f|
      .mb-4
        = f.email_field :email, autofocus: true, autocomplete: "email",class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',placeholder:'Email',required:true
      .mb-6
        = f.password_field :password, autocomplete: "current-password", minlength:6, class:'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline',placeholder:'Password',required:true
      .flex.items-center.justify-between
      br
        = f.submit "Log in", class:"btn-primary"

