doctype html
html
  head
    title
      | Shopping
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body.font-sans
    nav.bg-sky-500/25.border-gray-200.px-2.sm:px-4.py-2.5.rounded.dark:bg-gray-900
      .container.flex.flex-wrap.justify-between.items-center.mx-auto
        a[href='#']
          = image_tag("shopping_icon.png", :width => "40px",:alt => "Logo",class:"mr-3 h-6 sm:h-9")
          span.self-center.text-xl.font-semibold.whitespace-nowrap.dark:text-white
            h1 ShopEasy
        - if is_user_logged_in?
          #navbar-default.hidden.w-full.md:block.md:w-auto
            ul.flex.flex-col.p-4.mt-4.bg-gray-50.rounded-lg.border.border-gray-100.md:flex-row.md:space-x-8.md:mt-0.md:text-sm.md:font-medium.md:border-0.md:bg-white.dark:bg-gray-800.md:dark:bg-gray-900.dark:border-gray-700
              li
                  a.block.py-2.pr-4.pl-3.text-white.bg-blue-700.rounded.md:bg-transparent.md:text-blue-700.md:p-0.dark:text-white[aria-current="page" href="/product/list"]
                    | Home
              li
                div[data-controller="hello"]
                  a.block.py-2.pr-4.pl-3.text-gray-700.rounded.hover:bg-gray-100.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0.dark:text-gray-400.md:dark:hover:text-white.dark:hover:bg-gray-700.dark:hover:text-white.md:dark:hover:bg-transparent[href="#" data-action="hello#mycart"]
                    | Cart
              li
                div[data-controller="hello"]
                  a.a.block.py-2.pr-4.pl-3.text-gray-700.rounded.hover:bg-gray-100.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0.dark:text-gray-400.md:dark:hover:text-white.dark:hover:bg-gray-700.dark:hover:text-white.md:dark:hover:bg-transparent[href="#" data-action="hello#myorder"]
                    | Orders
              li
                - unless is_user_logged_in?
                  a.a.block.py-2.pr-4.pl-3.text-gray-700.rounded.hover:bg-gray-100.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0.dark:text-gray-400.md:dark:hover:text-white.dark:hover:bg-gray-700.dark:hover:text-white.md:dark:hover:bg-transparent[href="/users"]
                    | Login
                - else
                  a.a.block.py-2.pr-4.pl-3.text-gray-700.rounded.hover:bg-gray-100.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0.dark:text-gray-400.md:dark:hover:text-white.dark:hover:bg-gray-700.dark:hover:text-white.md:dark:hover:bg-transparent[href="/users/logout"]
                    | Logout
                  li
                    a.a.block.py-2.pr-4.pl-3.text-gray-700.rounded.hover:bg-gray-100.md:hover:bg-transparent.md:border-0.md:hover:text-blue-700.md:p-0.dark:text-gray-400.md:dark:hover:text-white.dark:hover:bg-gray-700.dark:hover:text-white.md:dark:hover:bg-transparent.text-gray-400.cursor-not-allowed[href="#"]
                      | Logged in user: 
                      = current_user
    - if notice
      center
        .p-4.mb-4.text-sm.text-green-700.bg-green-50.rounded-lg.dark:bg-green-100.dark:text-green-800[role="alert"]
          span.font-medium
            = notice
    - if alert
      center
        .p-4.mb-4.text-sm.text-red-700.bg-red-50.rounded-lg.dark:bg-red-100.dark:text-red-800[role="alert"]
          span.font-medium
            = alert
    #content
      = yield
